@charset "utf-8";
.mettleDataGrid, .mettleDataGrid div, .mettleDataGrid  h3,
.mettleDataGrid span, .mettleDataGrid input, .mettleDataGrid ul, .mettleDataGrid li, .mettleDataGrid * {
    margin: 0;
    padding: 0;
	font-size: 100%;
	font-family: inherit;
}

.mettleDataGrid {
    border: 1px solid #9DB9ED;
    border-top: 2px solid #8FC65B;
    overflow: hidden;
    margin: 10px;
    font-size: 0.7em;
    position: relative;
	width: auto;
	font-family: Arial, serif;
}

.mettleDataGrid .row,
.mettleDataGrid .mettleDataGrid-heading {
    white-space: nowrap;
}

.mettleDataGrid .mettleDataGrid-heading {
    background: url(../../img/defaultTheme/mettleDataGrid_header_bg.png) repeat-x;
	border-bottom: 1px solid #ccc;
}

.mettleDataGrid .mettleDataGrid-rows {
    width: 100%;
    overflow: auto;
    height: 350px;
    display: block;
	background: #dddddd;
}

.mettleDataGrid .mettleDataGrid-rows .row {
    background: #eee;
}

.mettleDataGrid .mettleDataGrid-rows .group-header-row .cell,
.mettleDataGrid .mettleDataGrid-rows .row .cell {
    margin-top: 0;
}

.mettleDataGrid .group-header-row .cell,
.mettleDataGrid .row .cell {
    line-height: 22px;
    height: 22px;
}

.mettleDataGrid .mettleDataGrid-heading .cell {
    border-left: 1px solid #fff;
    border-right: 1px solid #ccc;
    font-weight: bold;
    padding: 8px 10px 8px 10px;
    color: #555;
    background: url(../../img/defaultTheme/mettleDataGrid_header_bg.png) repeat-x;
    display: inline-block;
    position: relative;
	text-overflow: ellipsis;
	overflow: hidden;
}

.ie7below .mettleDataGrid .mettleDataGrid-heading .cell {
	display: inline;
}

.mettleDataGrid .mettleDataGrid-heading .first {
	border-left: 0;
	padding-left: 11px;
}

.mettleDataGrid .mettleDataGrid-heading .last {
	/*border-right: 0;*/
}

.mettleDataGrid .mettleDataGrid-rows .group-header-row .cell,
.mettleDataGrid .mettleDataGrid-rows .row .cell {
	height: auto;
}

.mettleDataGrid .mettleDataGrid-rows .row-first {
    border-top: 1px solid #EDEDED;
}

.mettleDataGrid .mettleDataGrid-rows .cell {
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.mettleDataGrid .mettleDataGrid-rows .even,
.mettleDataGrid .mettleDataGrid-rows .even .cell {
    background-color: #F7F7F7;
}

.mettleDataGrid .group-header-row .cell,
.mettleDataGrid .row .cell {
    padding: 0 10px 0 10px;
    border-right: 1px solid #ccc;
    border-left: 1px solid #fff;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    margin-top: 4px;
	text-overflow: ellipsis;
}

.ie7below .mettleDataGrid .group-header-row .cell,
.ie7below .mettleDataGrid .row .cell {
	display: inline;
}

.mettleDataGrid .mettleDataGrid-rows .row-hover {
    background-color: #ebebeb;
}

.mettleDataGrid .mettleDataGrid-rows .row-hover .cell {
    background-color: #c9c9c9;
}

.mettleDataGrid .mettleDataGrid-heading .cell {
    cursor: default;
}

.column-helper {
    border: 0;
    font-family: Arial,serif;
    z-index: 9999;
}

.column-helper .mettleDataGrid-heading {
    border: 0;
}

.mettleDataGrid .total-row-count {
    background-color: #eee;
    text-align: right;
    padding: 2px 5px 2px 0;
}

.mettleDataGrid .loading-message {
    display: none;
    font-size: 85%;
    background-color: #cc0000;
    color: #fff;
    position: absolute;
    left: 50%;
    width: 100px;
    margin-left: -50px;
    bottom: 0;
    padding: 2px 4px;
    text-align: center;
}

.NUMERIC {
    text-align: right;
}
.mettleDataGrid .mettleDataGrid-heading .reorder,
.mettleDataGrid .mettleDataGrid-heading .reorder-right {
    border-right: 5px solid #8FC65B;
}
.mettleDataGrid .mettleDataGrid-heading .reorder-left {
    border-left: 5px solid #8FC65B;
}
.mettleDataGrid .resize-handle {
    display: inline-block;
    position: absolute;
    width: 4px;
    top: 0;
    right: -1px;
    cursor: e-resize;
	bottom: 0;
}

.resize-guide {
	width: 2px;
	background-color: #ccc;
	position: absolute;
}
.mettleDataGrid .mettleDataGrid-heading .sort-hover {
	background: url(../../img/defaultTheme/mettleDataGrid_header_bg.png) 0 -119px repeat-x;
}

.mettleDataGrid .mettleDataGrid-heading .desc,
.mettleDataGrid .mettleDataGrid-heading .asc {
    background: url(../../img/defaultTheme/mettleDataGrid_header_bg.png) 0 -56px repeat-x;
}

.mettleDataGrid .mettleDataGrid-heading .sortable-column .sort-arrow {
    display: inline-block;
    width: 12px;
    height: 16px;
    right: 2px;
    top: 4px;
    position: absolute;
    z-index: 0;
}

.mettleDataGrid .mettleDataGrid-heading .desc .sort-arrow {
    display: inline-block;
    background: url(../../img/defaultTheme/mettleDataGrid_arrows.png) 0 -33px no-repeat;
}

.mettleDataGrid .mettleDataGrid-heading .asc .sort-arrow {
    display: inline-block;
    background: url(../../img/defaultTheme/mettleDataGrid_arrows.png) no-repeat;
}
.mettleDataGrid .mettleDataGrid-filter {
    white-space: nowrap;
    zoom: 1;
}

.mettleDataGrid .mettleDataGrid-filter .cell {
	border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    padding: 8px 10px 8px 10px;
    display: inline-block;
    zoom: 1;
}

.mettleDataGrid .mettleDataGrid-filter .cell .mettleDataGrid-filter-control {
	width: 100%;
    border: 1px solid #D3D3D3;
}

.mettleDataGrid .mettleDataGrid-filter .cell .FREE_TEXT-filter {
    line-height: 1.2em;
}

/*ui-multiselect*/
.ui-multiselect span {
    position: relative;
    top: 2px;
    left: 2px;
}
.ui-multiselect span.ui-icon {
    position: static;
}
.ui-multiselect-menu {
    font-size: 70%;
}

.ui-multiselect-checkboxes label input {
    top: -1px;
}

.ui-multiselect-menu .ui-multiselect-all span,
.ui-multiselect-menu .ui-multiselect-none span {
    position: relative;
    top: 3px;
}

.ui-multiselect-menu .ui-multiselect-all span.ui-icon,
.ui-multiselect-menu .ui-multiselect-none span.ui-icon {
    top: 0;
}
.mettleDataGrid-group-by , .mettleDataGrid-group-by  div,
.mettleDataGrid-group-by   h3, .mettleDataGrid-group-by  span,
.mettleDataGrid input {
    margin: 0;
    padding: 0;
	font-size: 100%;
	font-family: inherit;
}

.mettleDataGrid-group-by.ui-state-highlight-hover {
    background: #e8e8e8 none;
    border: 1px dashed #f00;
}

.mettleDataGrid-group-by {
    width: 90%;
    border: 1px solid transparent;
    margin-left: 10px;
	margin-top: 10px;
    line-height: 1.6em;
    height: 1.6em;
	font-family: Arial, serif;
}

.mettleDataGrid-group-by p {
    margin: 0;
}

.mettleDataGrid-group-by  .cell {
	background: url(../../img/defaultTheme/mettleDataGrid_groups_sprite.png) 0 -96px no-repeat;
	padding-left: 5px;
	display: inline-block;
    cursor: move;
}

.mettleDataGrid-group-by.ui-state-highlight-hover .cell {
    cursor: default;
}

.mettleDataGrid-group-by  .first  {
	background: url(../../img/defaultTheme/mettleDataGrid_groups_sprite.png) no-repeat;
	padding-left: 5px;
	display: inline-block;
}

.mettleDataGrid-group-by  .cell .label {
	background: url(../../img/defaultTheme/mettleDataGrid_groups_sprite.png) 0 -96px repeat-x;
	display: inline-block;
	line-height: 26px;
}

.mettleDataGrid-group-by  .cell .arrow {
	background: url(../../img/defaultTheme/mettleDataGrid_groups_sprite.png) right -48px no-repeat;
	display: inline-block;
	padding-right: 16px;
}

.mettleDataGrid-group-by  .last .arrow {
	background: url(../../img/defaultTheme/mettleDataGrid_groups_sprite.png) top right no-repeat;
}

.mettleDataGrid-group-by .cell a.remove,
.mettleDataGrid-group-by .cell a.remove:link,
.mettleDataGrid-group-by .cell a.remove:visited,
.mettleDataGrid-group-by .cell a.remove:hover,
.mettleDataGrid-group-by .cell a.remove:active {
	text-decoration: none;
	color: #f00;
}

.mettleDataGrid-group-by .group-helper {
    background: url(../../img/defaultTheme/mettleDataGrid_groups_sprite.png) no-repeat;
}

.mettleDataGrid-group-by .group-helper .arrow {
    background: url(../../img/defaultTheme/mettleDataGrid_groups_sprite.png) top right no-repeat;
}

/*Group styles for the grid*/
.mettleDataGrid .group {
	white-space: nowrap;
	display: inline-block;
}

.ie7below .mettleDataGrid .group {
	display: inline;
}

.mettleDataGrid .group .cell {
	display: inline-block;
	padding: 0 10px 0 10px;
	border-right: 1px solid transparent;
	border-left: 1px solid transparent;
}

.ie7below .mettleDataGrid .group .cell {
	display: inline;
}

.mettleDataGrid .group .group-header {
	margin: 0;
	font-weight: bold;
	cursor: pointer;
	padding: 0 10px 0 0;
	position: relative;
}

.mettleDataGrid .group .details-in-first-column {
	border-bottom: 1px solid #aaa;
}

.mettleDataGrid .group-data .group .group-header .cell {
	overflow: hidden;
	text-overflow: ellipsis;
}

.mettleDataGrid .group-data .group .details-in-first-column .cell {
	border-color: transparent;
	overflow: visible;
	text-overflow: clip;
}

.mettleDataGrid .group .details-in-first-column .first-cell-in-group {
	position: relative;
}

.mettleDataGrid .group-closed .row,
.mettleDataGrid .group-closed .group-header-row {
	height: 0;
	overflow: hidden;
}

.mettleDataGrid .group-closed-complete .row,
.mettleDataGrid .group-closed-complete .group-data {
	display: none;
}

.mettleDataGrid .row,
.mettleDataGrid .group-header-row,
.mettleDataGrid .group-closed .close {
	height: 22px;
	transition: height 0.2s;
	-moz-transition: height 0.2s;
	-webkit-transition: height 0.2s;
	-o-transition: height 0.2s;
}

.mettleDataGrid .mettleDataGrid-rows .group .row-first {
	border-top: 0;
}

.mettleDataGrid .mettleDataGrid-rows .group .spacer {
	vertical-align: top;
    background-color: transparent;
    border-color: transparent;
}

.mettleDataGrid .group .open-close-indicator {
	display: inline-block;
	font-size: 100%;
	width: 5px;
	line-height: 1.2em;
	position: absolute;
	z-index: 1;
	vertical-align: top;
	top: 4px;
	left: 3px;
	height: 5px;
	color: #fff;
	font-weight: bold;
}

.mettleDataGrid .mettleDataGrid-heading .groupable-indicator {
    display: inline-block;
    position: absolute;
    right: 1px;
    top: 1px;
    height: 5px;
    width: 9px;
    overflow: hidden;
}
.mettleDataGrid .mettleDataGrid-toolbar {
    background-color: #ccc;
    padding: 2px 0;
    text-align: right;
}

.mettleDataGrid .mettleDataGrid-toolbar .mettleDataGrid-reset,
.mettleDataGrid .mettleDataGrid-toolbar .mettleDataGrid-refresh {
    color: #000;
    margin-right: 5px;
}

.mettleDataGrid .mettleDataGrid-toolbar .mettleDataGrid-refresh {
    border-left: 1px solid #8F8F8F;
    padding-left: 5px;
}
